canvas {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    overflow: scroll;
}

body {
    position: sticky;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.ui.comments {
    max-width: 100%;
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
    height: auto;
}

.ui.comments .comment a.author:hover {
    color: #6435c9;
}

.ui.threaded.comments .comment>.comments {
    margin: 0em 0 -0.5em 1.25em;
    padding: 0em 0 0.5em 2.25em;
    -webkit-box-shadow: -1px 0 0 rgba(34,36,38,.15);
    box-shadow: -1px 0 0 rgba(34,36,38,.15);
}

.ui.threaded.comments .thread {
    margin: 0em 0 -0.5em -2.25em;
    padding: 0em 0 0.5em 2.25em;
    -webkit-box-shadow: -1px 0 0 rgba(34,36,38,.15);
    box-shadow: -1px 0 0 rgba(34,36,38,.15);
}

#delete-post-label {
    margin: 0 0.2em 0 0;
    padding: 0.2em 0.5em
}

#create-post-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}